* {
    padding: 0;
    margin: 0;
    background-color: lightblue;
}

h1 {
    font-size: 40px;
    padding: 70px;
}

p {
    font-size: 30px;
    padding: 0px 70px;
}

.horario-p {
    font-size: 30px;
    margin-top: 50px;
}

button {
    width: 180px;
    padding: 20px;
    margin: 40px 10px 10px 70px;
    overflow: auto;
}

button:hover {
    background-color: rgb(150, 187, 200);
    cursor: pointer;
}

.button-horario, .button-type {
    width: 200px;
    padding: 20px;
    margin: 40px 10px 10px 70px;
}

.resultado {
    font-size: 30px;
    margin-top: 30px;
    margin-left: 100px;
    padding: 20px 70px 10px 70px;
    font-weight: bold;
}

.precio-p {
    font-size: 30px;
    margin: 50px 0 40px 0;
}

.resultado-final{
    padding: 20px 70px 20px 70px;
    margin-left: 100px;
}

#button-new-order {
    font-size: large;
    width: 250px;
    padding: 40px;
    margin: 40px 10px 100px 100px;
    overflow: auto;
}

#button-new-order:hover {
    background-color: rgb(150, 187, 200);
    cursor: pointer;
}
